<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>277436851087-bcmcn5t0juscogb2erpk0gu2nf49jfot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277436851087-bcmcn5t0juscogb2erpk0gu2nf49jfot</string>
	<key>API_KEY</key>
	<string>AIzaSyC-VPaOYGkFNO5jIUsi50fSb8P1gZCYzFU</string>
	<key>GCM_SENDER_ID</key>
	<string>277436851087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rth.wongyiunam.ios</string>
	<key>PROJECT_ID</key>
	<string>wong-yiu-nam</string>
	<key>STORAGE_BUCKET</key>
	<string>wong-yiu-nam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277436851087:ios:9f661769f22ec4bc</string>
	<key>DATABASE_URL</key>
	<string>https://wong-yiu-nam.firebaseio.com</string>
</dict>
</plist>